.page-login { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-btn {
    margin-top: 30px;
    align-items: center;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    width: 75%;
    height: 35px;
    background: linear-gradient(135deg, #0c2340, #1a4a7a);
    color: #a0c4e8;
    font-size: 0.9rem;
    font-weight: 0.9rem;
    box-shadow: 0 0 0 12px rgba(26, 74, 122, 0,5);
    transition: all 0.2s ease;
}

.login-btn:hover {
    background: linear-gradient(135deg, #1a4a7a, #2a6aaa);
    color: #ffffff;
    box-shadow: 0 0 20px rgba(26, 74, 122, 0.8);
  }
