.page-login { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-btn {
    width: 75%;
}

p {
    margin-top: 10px;
    font-style: italic;
    font-size: 0.7rem;
}

h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1.5rem;
}

form {
    display: flex;
    flex-direction: column;
}

.main-btn {
    width: 85%;
}

.form-label {
    margin-bottom: 2px;
    color: #a0c4e8;
}

.form-input {
    margin-bottom: 2px;
    height: 2.3rem;
    border-radius: 12px;
    border: none;
    background-color: rgba(255,255,255,0.03);
    padding: 0px 8px; 
}

.form-input:focus::placeholder{
    color: transparent;
}

.form-select {
    height: 2rem;
    width: fit-content;
}

.form-input:focus::placeholder{
    color: transparent;
}

.error {
    color: red;
    font-size: 0.6rem;
}

.password-wrapper {
    display: flex;
    gap: 8px;
    align-items: center;
}

.show-password {
    border-radius: 8px;
    border: none;
    background: linear-gradient(135deg, #0c2340, #1a4a7a);
    color: #a0c4e8;
    font-size: 0.9rem;
    font-weight: 0.9rem;
    box-shadow: 0 0 0 12px rgba(26, 74, 122, 0,5);
    cursor: pointer;
    
}

.show-password:hover {
    background: linear-gradient(135deg, #1a4a7a, #2a6aaa);
    color: #ffffff;
    box-shadow: 0 0 20px rgba(26, 74, 122, 0.8);   
}